<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.pt-4
			.col-md-6
				p Coppyright By FullStackVietNam
			.col-md-6.text-right.tinh2
				ul
					li.mr-2
						a.fa.fa-twitter.tinh(href="#")
					li.mr-2
						a.fa.fa-facebook.tinh(href="#")